<div class="container libroslistado">
	<div class="row" *ngIf="cargando">
		<div class="col-12">
			<div class="alert alert-warning">
				<p>Error: No se pudo conectar al servidor</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div *ngFor="let libro of libros" class="col-md-4 col-12">
			<div class="card">
			 	<div [ngStyle]="{'background-image': 'url(' + libro.portada + ')'}" class="imagen_portada"></div>
			  	<div class="card-body">
				    <h4 class="card-title">{{libro.titulo}}</h4>
				    <p class="card-text">{{libro.autor}}<br>
				    {{libro.descripcion}}</p>
				    <a [routerLink]="['/detalles', libro.id]" class="btn btn-primary">Ver Detalle</a>
			  	</div>
			</div>
		</div>


	</div>
</div>