.imagen_portada{
	width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center center;
}
.jumbotron{
	background-image: url("/assets/img/home_banner_1.png"),url("/assets/img/back_home_1.jpg");
	background-size: 300px auto, cover;
	background-repeat: no-repeat;
	background-position: right bottom, center top;
}
.jumbotron h1, .jumbotron p{
	color: white;
	text-shadow: 1px 1px 1px black;
}