<div class="jumbotron">
  <h1 class="display-3">Bienvenido a la Biblioteca Digital CONFA</h1>
  <p class="lead">En este aplicativo encontraras una gran fuente de libros de diversas areas de investigación.</p>
  <hr class="my-4">
  <p class="lead">
    <a class="btn btn-primary btn-lg" routerLink="/lista-libros" role="button">Buscar Libros</a>
  </p>
</div>
<div class="container" *ngIf="elservicio.mostrarLibrosFavoritos()">
	<h2>Mis Favoritos</h2>
	<div class="row">
		<div *ngFor="let libro of elservicio.mostrarLibrosFavoritos()" class="col-md-4 col-12">
			<div class="card">
			 	<div [ngStyle]="{'background-image': 'url(' + libro.portada + ')'}" class="imagen_portada"></div>
			  	<div class="card-body">
				    <h4 class="card-title">{{libro.titulo}}</h4>
				    <p class="card-text">{{libro.autor}}<br>
				    {{libro.descripcion}}</p>
				    <a [routerLink]="['/detalles', libro.id]" class="btn btn-primary">Ver Detalle</a>
			  	</div>
			</div>
		</div>
	</div>
</div>