<div class="container">
	<h2>Nuestras Sedes</h2>
	<agm-map 
		[latitude]="maplat" 
		[longitude]="maplong"
		[zoom]="mapZoom"
		[styles]="mapaEstilos">
		<agm-marker [latitude]="maplat" [longitude]="maplong"></agm-marker>	
		<agm-marker *ngFor="let sede of sedes"
			[latitude]="sede.lat" 
			[longitude]="sede.long" 
			[iconUrl]="'/assets/img/logo_mapa.png'">
			<agm-info-window>
				<p [innerHTML]="sede.titulo"></p>
			</agm-info-window>
		</agm-marker>		
	</agm-map>
</div>