#login{
	background-image: -webkit-linear-gradient(top, rgb(47, 167, 237) 0%, rgb(25, 89, 127) 100%);
	min-height: 600px;

	#contenedor_formulario{
		background-color: rgba(255,255,255,0.5);
		width: 40%;
		position: absolute;
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
		top: 20px;
		text-align: center;
		padding: 40px;
		border-radius: 20px;		
	}
	h2{
		color: white;
		text-shadow: 1px 1px 2px gray;
	}
}
form{
	input{
		width: 100%;
		
	}
}

