<div class="container tickets">
  <form #ticket="ngForm" (ngSubmit)="enviarCorreo(ticket)" novalidate>
    <div class="form-group">
      <label for="asunto">Asunto</label>
      <input type="text" class="form-control" id="asunto" placeholder="Ingresa el asunto del ticket" name="asunto" #asunto="ngModel" ngModel>
    </div>
    <div class="form-group" *ngIf="beneficiarios">
      <label for="beneficiario">Beneficiario</label>
      <select class="form-control" id="beneficiario" name="beneficiario" #beneficiario="ngModel" ngModel>
        <option *ngFor="let beneficiario of beneficiarios.beneficiarios">{{beneficiario.nombreBeneficiario}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="mensaje">Mensaje</label>
      <textarea class="form-control" id="mensaje" rows="3" name="mensaje" #mensaje="ngModel" ngModel></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>  
</div>
