<div class="container">
	<div class="row" *ngIf="cargando">
		<div class="col-12">
			<div class="alert alert-warning">
				<p>Error: No se pudo conectar al servidor</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div *ngFor="let cabana of cabanas" class="col-md-4 col-12">
			<div class="card">
			 	<div [ngStyle]="{'background-image': 'url(' + cabana.portada + ')'}" class="imagen_portada"></div>
			  	<div class="card-body">
				    <h4 class="card-title">{{cabana.titulo}}</h4>
				    <p class="card-text">{{cabana.precio}}<br>
				    {{cabana.descripcion}}</p>
				    <a (click)="adicionarCabana(cabana)" class="btn btn-primary">Adicionar</a>
			  	</div>
			</div>
		</div>


	</div>
</div>