<div id="login">
	<div id="contenedor_formulario">
		<img src="http://confa.co/wp-content/uploads/2014/09/logo-confa2-180px.png">
		<h2>Consola Confa</h2>
		<form #formLogin="ngForm" (ngSubmit)="validarUsuario(formLogin)" novalidate>
			<input type="email" name="usuario" class="form-control" placeholder="Ingresa tu correo" ngModel #usuario="ngModel" required>
			<div *ngIf="usuario.valid!=true && usuario.value=='' && usuario.touched" class="alert alert-danger">
				<p>Error: No has ingresado tu usuario</p>
			</div>	
			<input class="form-control" type="password" name="contrasena" placeholder="Ingresa tu contraseña" ngModel #contrasena="ngModel" required>
			<div *ngIf="contrasena.valid!=true && contrasena.value=='' && contrasena.touched" class="alert alert-danger">
				<p>Error: No has ingresado tu contraseña</p>
			</div>
			<br>
			<button class="btn btn-default" type="submit">Ingresar</button>

			<br>

		</form>
	</div>
</div>