#panelreserva{
	position: fixed;
	right: -405px;
	top: 0px;
	width: 505px;
	transition: right 1s;
}
#panelreserva:hover{
	right: 0;
}
#botonreserva, #contenidoreserva{
	display: inline-block;
	vertical-align: middle;
}
#botonreserva{
	background: gray;
	padding: 5px 10px;
	left: 37px;
	transform: rotate(-90deg);
	position: relative;
	color: white;
	background-color: rgb(0, 155, 213);
	border-radius: 10px 10px 0 0;

}
#botonreserva p{
	margin: 0;
	padding: 0;
}
