<app-banner></app-banner>
<app-listado-cabanas></app-listado-cabanas>
<div id="panelreserva">
	<div id="botonreserva">
		<p>Mi reserva</p>
	</div>
	<div id="contenidoreserva">
		<app-reserva></app-reserva>	
	</div>
</div>

