$azulconfa:#078cd4;
#header{
	min-height: 80px;
	background-color: $azulconfa;
	.logo{
		background-color: white;
	    background-image: url('http://confa.co/wp-content/uploads/2014/09/logo-confa2-180px.png');
	    border-radius: 50px;
	    width: 80px;
	    margin: 20px;
	    height: 80px;
	    background-size: 90% auto;
	    background-repeat: no-repeat;
	    background-position: center center;
	}
	h1{
		color: white;
	    padding-top: 32px;
	    text-align: center;
	    font-weight: lighter;

	}
}

