<div class="container contenidoEstadisticas">
	<div class="row">
		<div class="col-6">
			<h2>Resumen de Usuarios Nuevos</h2>
			<canvas baseChart width="400px" height="400px" 
				[datasets]="graficaData"
				[labels]="graficaLabels"
				[options]="graficaOptions"
				[colors]="graficaColors"
				[legend]="graficaLegend"
				[chartType]="graficaChartType"></canvas>
		</div>
		<div class="col-6">
			<table class="table table-striped">
			  <thead>
			    <tr>
			      <th *ngFor="let titulo of graficaLabels">{{titulo}}</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr *ngFor="let fila of datos | async">
			      <td *ngFor="let j=index; let columna of graficaLabels">
			      	{{fila.data[j]}}
			      </td>
			    </tr>
			  </tbody>
			</table>
		</div>
	</div>








	<div class="row">
		<div class="col-6">
			<h2>Fuente de Usuarios</h2>
			<canvas baseChart width="400px" height="400px" 
				[data]="infoData"
				[labels]="infoLabels"
				[options]="infoOptions"
				[colors]="infoColors"
				[legend]="infoLegend"
				[chartType]="infoChartType">
				
			</canvas>
		</div>
		<div class="col-6">
			
		</div>
	</div>
</div>