<div id="listareserva">
	<h3>Tu Reserva</h3>
	<ul>
		<li *ngFor="let cabana of cabservice.leerCabanaServicio()">
			{{cabana.titulo}}<br>$ {{cabana.precio}}
		</li>
	</ul>
	<p>Total: {{cabservice.sumaReserva}}</p>
</div>