/* CSS Cascade Style Sheet*/

/*
1. Fuentes Font Face
2. Animaciones
3. Estilos Etiqueta
4. Estilos Clase
5. Estilos ID
6. Media Queries (Responsive Design)

Orden Alfabetico en cada seccion

PREFIJOS
-webkit- =>Chrome, Safari
-moz => Firefox
-o- => Opera
-ms- => IE 9+


*/
@-webkit-keyframes animarMujer {
	0%{
		right: -500px;
	}
	100%{
		right: 10px;
	}
}
@keyframes opacidad{
	from{ opacity: 0 }
	to{ opacity: 1 }
}
@keyframes opacidad2{
	0%{ opacity: 0 }
	50%{ opacity: 0 }
	100%{ opacity: 1 }
}


body{
	margin: 0;
	padding: 0;
	font-family: 'Ubuntu', sans-serif;
	font-weight: lighter;
}
nav li{
	display: inline-block;
	margin: 0 10px;
	font-size: 0.8em;
}
footer p, footer ul{
	width: 45%;
	padding: 0 2%;
}
footer ul{
	text-align: right;
}

.boton_redes{
	text-align: center;
	cursor: pointer;
	padding: 10px;
	transition: background-color 2s; 
	border-radius: 5px;
	min-width: 20px;
}
.boton_redes i{
	transition: color 2s;
}
.boton_redes:hover i{
	color: white;
}
#twitter:hover{ background-color: #0084b4;}
#facebook:hover{ background-color: #3b5998;}
#instagram:hover{ background-color: #8a3ab9;}
#youtube:hover{ background-color: #FF0000;}

#header_top{
	text-align: center;
	box-shadow: 0px 5px 10px rgba(144, 147, 147,0.3);
	position: relative;
	z-index: 1;
}

#header_top img, 
#header_top nav, 
#header_top div:nth-child(1) p, 
#header_top div:nth-child(1) ul, 
#header_top div:nth-child(1) li,
footer ul,
footer p,
footer li{
	display: inline-block;
	vertical-align: middle;
}
#header_top div:nth-child(1),
#header_top div:nth-child(2){
	width: 70%;
	padding: 10px 15%;
}
#header_top div:nth-child(1){
	border-bottom: 1px dotted rgb(0,144,213);
}

#header_top div:nth-child(1) p{
	text-align: left;
	width: 70%;
	color: rgb(0,144,213);
	font-size: .8em;
}
#header_top div:nth-child(1) li{
	
	color: gray;
}
#header_top img{
	transition: transform 2s;
}
#header_top img:hover{
	
	cursor: pointer;
	transform: rotate(360deg);
}
#banner{
	max-height: 400px;
	overflow: hidden;
}
#banner1{
	background-image: url("../img/back_home_1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 -330px; 
	position: relative;
	height: 400px;

}
#banner1 img{
	position: absolute;
	top: 5px;
	width: 400px;
	right: 10px;
	-webkit-animation: animarMujer 3s;
	-moz-animation: animarMujer 3s;
	-o-animation: animarMujer 3s;
	-ms-animation: animarMujer 3s;
	animation: animarMujer 3s;
}
#banner1 h2, #banner1 h3{
	position: absolute;
	left: 0;
	right: 0;
	width: 600px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	top: 90px;
	font-size: 3em;
	color: white;
	animation: opacidad 3s;
}
#banner1 h3{
	top: 140px;	
	animation: opacidad2 3s;
}

#destacados article{
	display: inline-block;
	vertical-align: top;
	padding: 2%;
	width: 29%;
}
/*
	#destacados article:nth-child(1),
	#destacados article:nth-child(2){
		width: 36%;
	}
	#destacados article:nth-child(3){
		width: 15%;
}
*/
#destacados i{
	font-size: 2em;
	margin-right: 20px;
}
#destacados header *{
	display: inline-block;
	vertical-align: middle;
}
#destacados p{
	/*column-count: 2;*/
	line-height: 1.8em;
	font-size: .9em;
	text-align: justify;
	margin: 0;
	height: 140px;
}
#destacados a{
	text-decoration: none;	
	padding: 10px 20px;
	border-radius: 10px;
	background-color: rgb(0,144,213);
	color: white;
	box-shadow: inset 0 0 20px rgba(0,0,0,0.3);
}


@media screen and (max-width: 1024px){
	#banner1{
		background-position: 0 -70px;
	}
	#banner1 h2{top: 10px;}
	#banner1 h3{top: 50px;}
	#destacados h2{font-size:1.2em;}
	#destacados p{
		height: 180px;
	}
}
@media screen and (max-width: 768px){
	#header_top div:nth-child(1) p{
		width: 50%;
	}
	#banner1{
		background-position: 0 -20px;
	}
	#banner1 img{
		top: 50px;
    	width: 300px;
	}
	#banner1 h2, #banner1 h3{
		font-size: 2.5em;
		width: 400px;
	} 
	#destacados i{
		width: 100%;
		margin-right: 0;
		text-align: center;
	}
	#destacados h2{
		text-align: center;
		width: 100%;
		height: 45px;
	}
	#destacados p{
		height: 260px;
	}
}
@media screen and (max-width: 670px){
	#banner1{
		background-position: 0px 0px;
	}
	#destacados article{
		display: block;
		width: 96%;
	}
	#destacados p, #destacados h2{
		height: auto;
	}
	#destacados a{
		margin: 10px auto;
		display: block;
		width: 100px;
		text-align: center;
	}
}
@media screen and (max-width: 375px){
	nav ul{margin:0;padding: 0;}
	nav li{display: block;margin: 10px 0;}
	#banner1 img{display: none;}
	#header_top div:nth-child(1) p, 
	#header_top div:nth-child(1) ul,
	footer p,
	footer ul{
		width: 100%;
		text-align: center;
		margin:0;
		padding: 0;
	}
	#destacados article{
		padding: 6%;
		width: 88%;
	}
	#header_top img, #header_top nav{
		display: block;
		margin: 0 auto;
	}
}





