$azulconfa:#078cd4;

a{
	color:black;
}
.menu_lateral{
	background-image: -webkit-linear-gradient(top, $azulconfa 0%, $azulconfa 40%, rgba(255,255,255,0) 100%);
	height: 100%;
}
.list-group-item.active{
	background-color: $azulconfa;
	a{
		color: white;
	}
}