<div class="menu_lateral">
	<ul class="list-group">
	  <li class="list-group-item"  routerLinkActive="active">
	  	<a routerLink="/dash/estadisticas">
	  		Estadisticas
	  	</a>
	  </li>
	  <li class="list-group-item"  routerLinkActive="active">
	  	<a routerLink="/dash/mapas">
	  		Mapa
	  	</a>
	  </li>
	  <li class="list-group-item"  routerLinkActive="active">
	  	<a routerLink="/dash/tickets">
	  		Envio de Ticket
	  	</a>
	  </li>
	  <li class="list-group-item" (click)="cerrarSesion()">Salir</li>
	</ul>	
</div>
