.jumbotron{
	background-image: url("/assets/img/back_home_1.jpg");
	background-size:  cover;
	background-repeat: no-repeat;
	background-position: center top;
}
.jumbotron h1, .jumbotron p{
	color: white;
	text-shadow: 1px 1px 1px black;
}