<div class="container">
	<h3>Detalle del Libro</h3>
	<div class="row">
		<div class="col-md-4">
			<img src="{{libroDetalle.portada}}" class="portadaImagen">
		</div>
		<div class="col-md-8">
			<h1>{{libroDetalle.titulo}}</h1>
			<h3>por: {{libroDetalle.autor}}</h3>
			<p>{{libroDetalle.descripcion}}</p>
			<button type="button" class="btn btn-success" (click)="agregarFavorito(libroDetalle)">
				<i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Agregar Favorito
			</button>

		</div>
	</div>
</div>